{{/* Regular Pages 简单理解为md文件对应的网页 */}}
{{ define "main" }}
<div class="hidden">file: single.html | Kind: {{ .Kind }}</div>

<div class="posts-container max-w-7xl mx-auto">
	<div class="flex justify-center items-center">
		<div class="w-24 h-24">
			{{ if .Params.Cover }}
			<img class="block w-full h-full object-cover rounded-lg ring-1 ring-slate-900/5 shadow-xl" src="{{ .Params.Cover }}" alt="{{ .Title }}" loading="lazy" default-image>
			{{ else }}
			{{ partial "svgs/book.svg" (dict "width" "100%" "height" "100%") }}
			{{ end }}
		</div>
	</div>

	<div class="py-4 mb-8 text-center font-bold text-xl theme-text">{{ .Title }}</div>

	<div class="flex gap-8">
		<section class="flex-shrink-0 w-9/12 py-6 px-8 theme-content theme-shadow rounded-xl">
			{{ with (.GetTerms "tags") }}
			<ul class="flex gap-4 pb-5">
				{{ range . }}
				<li>
					<a class="block px-3 py-1 text-xs theme-subtext theme-text-hover border theme-border theme-border-hover rounded-full" href="{{ .Permalink }}"># {{ .LinkTitle }}</a>
				</li>
				{{ end }}
			</ul>
			{{ end }}

			<div class="znc theme-text">{{ .Content }}</div>
		</section>
		<aside class="flex-auto flex flex-col gap-6 sticky top-6 max-h-[calc(100vh-theme(screens.asidePadding))]">
			{{- partial "widget-info.html" . -}}
			{{- partial "widget-toc.html" . -}}
		</aside>
	</div>
</div>

<ul>
	{{ range (.GetTerms "categories") }}
	<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
	{{ end }}
</ul>
{{ end }}