<div class="flex flex-wrap gap-8 w-6/12 mx-auto">
  {{ range . }}
  <section>
    <a class="flex items-center justify-center gap-2" href="{{ .Permalink | safeURL }}">
      <span class="theme-text">
        {{ partial "svgs/tag.svg" (dict "width" "20px" "height" "20px") }}
      </span>
      <span class="font-bold text-base theme-text">{{ or .Title .Data.Term }}</span>
      <span>·</span>
      <span class="text-sm theme-subtext">{{ len .Pages }}</span>
    </a>
  </section>
  {{ end }}
</div>