<div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-8">
  {{ range . }}
  <article class="flex gap-4">
    <a class="theme-content rounded-lg ring-1 ring-slate-900/5 shadow-xl shrink-0 flex items-center justify-center w-24 h-24 text-5xl overflow-hidden" href="{{ .Permalink | safeURL }}">
      {{ if eq .Kind "section" }}
      {{ partial "svgs/folder.svg" (dict "width" "54px" "height" "54px") }}
      {{ else if .Params.Cover }}
      <img class="block w-full h-full object-cover" src="{{ .Params.Cover }}" alt="{{ .Title }}" loading="lazy" default-image>
      {{ else }}
      {{ partial "svgs/book.svg" (dict "width" "54px" "height" "54px") }}
      {{ end }}
    </a>
    <div class="flex-auto">
      <a class="theme-text text-xl font-bold break-all tracking-tight" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
      <div class="theme-subtext mt-2 text-sm">{{- .Date.Format "January 2, 2006" -}}</div>
      {{ if eq .Kind "section" }}
      <div class="theme-subtext mt-2 text-sm">目录下共有 {{- len .Pages -}} 个帖子</div>
      {{ end }}
    </div>
  </article>
  {{ end }}
</div>