<header id="header-container" class="layout-wrap">
  <div class="layout-content">
    <div class="mb-8">
      <a class="text-4xl font-bold theme-text" href="{{ .Site.BaseURL | safeURL }}">{{ .Site.Title }}</a>
      {{ with .Site.Params.Description }}
      <p class="theme-subtext mt-8">{{ . }}</p>
      {{ end }}
    </div>
    <nav class="flex flex-wrap gap-2 md:gap-3 lg:gap-4 2xl:gap-6 mb-2 md:mb-4 lg:mb-6">
      {{ range .Site.Menus.main }}
        {{ if eq .URL "/posts" }}
        <a class="text-3xl font-bold theme-text" href="{{ .URL | safeURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ else }}
        <a class="text-3xl font-normal theme-subtext opacity-30 hover:opacity-60" href="{{ .URL | safeURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>