{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
  <div>

    {{ $pagFirst  := $pag.First }}
    {{ $pagLast   := $pag.Last }}
    {{ $isFirst   := eq $pagFirst.PageNumber $pag.PageNumber }}
    {{ $isLast    := eq $pagLast.PageNumber $pag.PageNumber }}

    <ul class="flex py-8 justify-center gap-8">
      {{/* prev page */}}
      <li class="page-item">
        {{ if $pag.HasPrev }}
          <a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="First">⬅️</a>
        {{ else }}
          <span>⬅️</span>
        {{ end }}
      </li>

      {{/* first page */}}
      {{ with $pagFirst -}} 
      <li class="page-item">
        {{ if $isFirst }}
          <span>{{ .PageNumber }}</span>
        {{ else }}
          <a href="{{ .URL }}" class="page-link" aria-label="First">{{ .PageNumber }}</a>
        {{ end }}
      </li>
      {{ end -}}

      {{ if (and (ge $pag.PageNumber 3) (not $isFirst)) }}
        <li class="page-item"><span>…</span></li>
      {{ end }}

      {{ if (and (not $isFirst) (not $isLast)) }}
        <li class="page-item"><span>{{ $pag.PageNumber }}</span></li>
      {{ end }}

      {{ if (and (le $pag.PageNumber (sub $pag.TotalPages 2)) (not $isLast)) }}
        <li class="page-item"><span>…</span></li>
      {{ end }}

      {{/* last page */}}
      {{- with $pag.Last }}
      <li class="page-item">
        {{ if $isLast }}
          <span>{{ .PageNumber }}</span>
        {{ else }}
          <a href="{{ .URL }}" class="page-link" aria-label="Last">{{ .PageNumber }}</a>
        {{ end }}
      </li>
      {{- end }}

      {{/* next page */}}
      <li class="page-item">
        {{ if $pag.HasNext }}
          <a href="{{ $pag.Next.URL }}" class="page-link" aria-label="First">➡️</a>
        {{ else }}
          <span>➡️</span>
        {{ end }}
      </li>
    </ul>
  </div>
{{ end }}