{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div>
  <nav class="flex mt-20 justify-center gap-8">
    {{/* Prev Page */}}
    {{ with $pag.Prev }}
    <a class="flex gap-1 items-center px-4 py-2 text-base theme-subtext rounded-md hover:bg-slate-200 dark:hover:bg-slate-700" href="{{ .URL | safeURL }}" aria-label="Prev">
      {{ partial "svgs/page-prev.svg" (dict "width" "24px" "height" "24px") }}
      <span>跳到第{{ sub $pag.PageNumber 1 }}页</span>
    </a>
    {{ end }}

    {{/* Next Page */}}
    {{ with $pag.Next }}
    <a class="flex gap-1 items-center px-4 py-1 text-base theme-content theme-text rounded-md border border-[#5c93bb2b] shadow-[0_3px_4px_-2px_#21253840]" href="{{ .URL | safeURL }}" aria-label="Next">
      <span>下一页</span>
      {{ partial "svgs/page-next.svg" (dict "width" "24px" "height" "24px") }}
    </a>
    {{ end }}
  </nav>
</div>
{{ end }}