{{/* homepage */}}
{{ define "main" }}

{{ partial "printinfo.html" (dict "Html" "index.html" "Page" .) }}

<div class="layout-wrap">
  <div class="layout-content">
		<div class="md:gap-3 lg:gap-4 2xl:gap-6 mb-2 md:mb-4 lg:mb-6">
      <a class="text-3xl font-bold theme-text" href="{{ .Permalink | safeURL }}">{{ .Site.Title }}</a>
		</div>

		<div class="theme-subtext mb-4 md:mb-6 lg:mb-8 2xl:mb-12">{{ .Site.Params.Description }}</div>

    {{ $pages := where .Site.RegularPages "Type" "not in" "page" }}
    {{ $pag := .Paginate ($pages) }}
    {{ partial "grid.html" $pag.Pages }}
  </div>
</div>
{{ end }}